<a href="https://colab.research.google.com/github/RanaTuk/ProtfolioPrject/blob/main/Activity_Python_Basics_NoteBook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics NoteBook

In [70]:
#Write a Python code to return your Python version
import sys
print(sys.version)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [71]:
#Write a Python code to declare variable id="513".
id = "513"
#Print the following statement "customer id =513". [Don't use print("customer id =513")]
print("customer id =",id)

customer id = 513

In [72]:
#Run the following statement, why there is an error
# because we did not assign a value for id before using it

id=id+"1"
print(id)

5131

In [73]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
new_id = int(id) + 1
print(new_id)

5132

In [74]:
#Write a Python code to print the following string in a specific format (see the output).

# Twinkle, twinkle, little star,
#     How I wonder what you are!
#        Up above the world so high,
#            Like a diamond in the sky.

print("Twinkle, twinkle, little star, \n")
print("\t How I wonder what you are!, \n")
print("\t\t Up above the world so high,  \n")
print("\t\t\t Like a diamond in the sky.   \n")

Twinkle, twinkle, little star,

	 How I wonder what you are!,

		 Up above the world so high,

			 Like a diamond in the sky.

In [75]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"
print(course[0])

P

In [76]:
# Print the element on the 13th index in the string
print(course[13])

t

In [77]:
# Find the length of string
print(len(course))

23

In [78]:
# Print the last element in the string [use negative index]
print(course[-1])

e

In [79]:
# Take the slice on variable course with only index 11 to index 14
print(course[11:15])

Data

In [80]:
# Get every third element in the range from index 0 to index 20
print(course[0:20:3])

Ph ra i

In [81]:
# Concatenate course string with ", AI & Development"
course1 = course + ", AI & Development"
print(course1)

Python for Data Science, AI & Development

In [82]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
course3 = course1.replace(" ","_")
print(course3)

Python_for_Data_Science,_AI_&_Development

In [83]:
# Convert all the characters in string to upper case
course4 = course.upper()
print(course4)

PYTHON FOR DATA SCIENCE

In [84]:
a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [85]:
name = "Michael Jackfon"
name.find('el')
print("el is ound in :",name.find('el'))

el is ound in : 5

In [86]:
print(name.find('Jasdfasdasdf'))

-1

In [88]:
#Split the substring into list using space separator
name = "Michael Jacfson"
split_string = (name.split())
print(split_string)

['Michael', 'Jacfson']

In [89]:
#Split the substring into list using space separator
name = "Michael,Jacfson"
split_string2 = (name.split(','))
print(split_string2)

['Michael', 'Jacfson']